.h3 {
  background: #b191ba;
  background: linear-gradient(90deg, #b191ba 0%, #e8b696 100%);
  background: -moz-linear-gradient(90deg, #b191ba 0%, #e8b696 100%);
  background: -webkit-linear-gradient(90deg, #b191ba 0%, #e8b696 100%);
  filter: startColorstr="#B190BA", endColorstr="#E8B595", GradientType=1; }

@media only screen and (max-width: 767px) {
  body h1 {
    font-size: 30px; }
  body h3 {
    font-size: 25px; }
  body p {
    font-size: 18px; } }

.parrafos1, .parrafos2, footer {
  font-family: 'Lato';
  line-height: 1.5;
  text-align: center;
  font-size: 4.5rem; }

.parrafos2 {
  font-size: 3rem; }

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  color: white; }

.fuenteGrande {
  font-size: 10rem;
  text-align: center;
  font-family: 'Signika';
  color: blanchedalmond;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

.svg, .faq, .carrito, .correo {
  width: 30px;
  margin: 0;
  align-items: center; }

.faq {
  transform: translate(723px, -6px); }

.carrito {
  transform: translate(14px, 2px); }

.correo {
  transform: translate(1071px, -52px); }

body {
  margin: 20px;
  font-size: 150%;
  border-radius: 50px;
  background: linear-gradient(45deg, #8e5d7b, #a96e93);
  box-shadow: 20px -20px 60px #865874, -20px 20px 60px #b6769e; }

.logo {
  display: block;
  width: 150px;
  margin: 0 auto;
  border-right: solid 3px magenta;
  border-radius: 30px; }

.h3 {
  text-align: center;
  background: #b191ba;
  background: linear-gradient(90deg, #b191ba 0%, #e8b696 100%);
  background: -moz-linear-gradient(90deg, #b191ba 0%, #e8b696 100%);
  background: -webkit-linear-gradient(90deg, #b191ba 0%, #e8b696 100%);
  filter: startColorstr="#B190BA", endColorstr="#E8B595", GradientType=1; }

html {
  font-size: 62.5%;
  background-color: antiquewhite; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  display: inline-block;
  font-size: 3rem; }

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

.svg, .faq, .carrito, .correo {
  width: 30px;
  margin: 0;
  align-items: center; }
  .svg .faq, .faq .faq, .carrito .faq, .correo .faq {
    transform: translate(723px, -6px); }
  .svg .carrito, .faq .carrito, .carrito .carrito, .correo .carrito {
    transform: translate(14px, 2px); }
  .svg .correo, .faq .correo, .carrito .correo, .correo .correo {
    transform: translate(1071px, -52px); }

#carouselExampleControls {
  width: 300px;
  margin: 0 auto; }

h2 {
  background: #b191ba;
  background: linear-gradient(90deg, #b191ba 0%, #e8b696 100%);
  background: -moz-linear-gradient(90deg, #b191ba 0%, #e8b696 100%);
  background: -webkit-linear-gradient(90deg, #b191ba 0%, #e8b696 100%);
  filter: startColorstr="#B190BA", endColorstr="#E8B595", GradientType=1;
  font-family: 'Signika';
  font-size: 4.8rem;
  line-height: 1.5;
  text-align: center; }

button {
  position: absolute;
  border-radius: 10px;
  margin: 0;
  margin-left: 36%;
  background-color: #7757d1;
  border: none;
  color: white;
  padding: 15px 9px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 12px;
  width: 100px;
  height: 100px;
  transition: all 0.5s; }

button:focus {
  width: 100px;
  font-size: 3rem; }

.text-center {
  text-align: center;
  font-family: 'Lato';
  font-size: 2.5rem; }

#enlaceWa {
  color: #501c49;
  font-size: 60px;
  position: fixed;
  bottom: 0;
  right: 40px; }

.infoContacto {
  font-family: 'Signika';
  font-size: 3rem;
  text-align: center;
  line-height: 1.2;
  background-position: center;
  background-color: #cf95c7; }

form {
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  color: black;
  text-align: center; }

.enviar {
  padding: 1rem;
  border-radius: 10px;
  align-items: flex-start;
  box-sizing: border-box; }

.border {
  border: 13px solid black;
  background: linear-gradient(90deg, #85ffca 0%, #a8b1ff 50%, #ec9eff 100%);
  background: -moz-linear-gradient(90deg, #85ffca 0%, #a8b1ff 50%, #ec9eff 100%);
  background: -webkit-linear-gradient(90deg, #85ffca 0%, #a8b1ff 50%, #ec9eff 100%);
  filter: startColorstr="#84FFC9", endColorstr="#AAB2FF", GradientType=1; }

#mapa {
  border: 200px;
  height: 15rem;
  object-fit: cover;
  object-position: 15% 100%;
  width: 25rem;
  transform: translate(505px, -20px); }

iframe {
  width: 100%;
  height: 100%;
  border: none; }

p {
  text-align: center;
  font-family: 'lato';
  font-size: 3.6rem;
  line-height: 1.6;
  overflow: hidden;
  color: #000000; }

/*PRODUCTOS*/
.cards-flex {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat 4, 1fr;
  row-gap: 100px;
  padding: 50px;
  margin: 50px;
  justify-content: space-between; }

img.rounded-circle {
  height: 250px; }

.card1-flex {
  width: 30%;
  background: #b191ba;
  background: linear-gradient(90deg, #b191ba 0%, #e8b696 100%);
  background: -moz-linear-gradient(90deg, #b191ba 0%, #e8b696 100%);
  background: -webkit-linear-gradient(90deg, #b191ba 0%, #e8b696 100%);
  -webkit-border-radius: 39px;
  border-radius: 39px;
  background: #e596e1;
  -webkit-box-shadow: 18px 18px 44px #ae72ab, -18px -18px 44px #ffbaff;
  box-shadow: 18px 18px 44px #ae72ab, -18px -18px 44px #ffbaff; }

.pointer {
  cursor: pointer; }

@media (max-width: 1023px) {
  #cards-flex {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 767px) {
  #cards-flex {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.p-3 {
  display: inline-block;
  padding: 10rem !important;
  margin: auto; }

/*INDEX*/
.ingreso {
  background: rgba(125, 28, 191, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 40px;
  margin: 23px 25px 110px 153px; }

.btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #4ecdc4 0%, #c797eb 75%); }

.css-button-gradient--1:hover {
  background-position: right center; }

.css-button-gradient--1:active {
  top: 2px; }

.navbar {
  border-radius: 50px;
  background: linear-gradient(45deg, #8e5d7b, #a96e93);
  box-shadow: 20px -20px 60px #865874, -20px 20px 60px #b6769e; }

.box {
  background: #f490f1;
  background: linear-gradient(90deg, #f490f1 0%, #a08dce 100%);
  background: -moz-linear-gradient(90deg, #f490f1 0%, #a08dce 100%);
  background: -webkit-linear-gradient(90deg, #f490f1 0%, #a08dce 100%);
  filter: gradient(startColorstr="#F492F0", endColorstr="#A18DCE", GradientType=1);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 6.5rem;
  font-family: 'Fredoka'; }

.content {
  grid-area: content;
  position: relative;
  -webkit-border-radius: 39px;
  border-radius: 39px;
  background: #e596e1;
  -webkit-box-shadow: 18px 18px 44px #ae72ab, -18px -18px 44px #ffbaff;
  box-shadow: 18px 18px 44px #ae72ab, -18px -18px 44px #ffbaff; }

/*CONTACTO*/
.contacto {
  display: grid;
  grid-gap: 10px;
  background-color: #fff;
  border-radius: 50px;
  background: linear-gradient(45deg, #8e5d7b, #a96e93);
  box-shadow: 20px -20px 60px #865874, -20px 20px 60px #b6769e; }

.overlay {
  background: rgba(125, 28, 191, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 10;
  grid-column: content-start / content-end;
  grid-row: header-start / content-end; }

fieldset {
  font-size: 1.5rem;
  width: 100%;
  padding: 1.2rem;
  border: 0.2rem solid none;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
  resize: vertical; }

textarea {
  transform: revert;
  height: 100%;
  color: -internal-light-dark(black, white);
  white-space: pre-line;
  background-color: -internal-light-dark(white, #3b3b3b);
  margin: 0em;
  border-width: 5px;
  border-style: dashed;
  border-color: -internal-light-dark(#767676, #858585);
  border-image: coral;
  padding: 27px; }

.card-text {
  display: inline-block;
  font-family: 'Lato';
  font-size: 2rem;
  box-sizing: content-box;
  width: 300px;
  height: 100px;
  padding: 30px; }

.quien-soy {
  margin: auto;
  width: 50%;
  padding: 10px; }
