.parrafos1 {
    font-family: 'Lato';
    line-height: 1.5;
    text-align: center;
    font-size: 1.5rem;
}

.parrafos2 {
    @extend .parrafos1;
        font-size:3rem;
    }
.text-dark{
    font-family: monospace;
    text-align:center;
    @extend .parrafos2;
}
footer {
    @extend .parrafos1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: white;
    }

.fuenteGrande {
        font-size: 8rem; 
        text-align:center;
        font-family: 'Signika Negative';
        color: rgb(255, 205, 238);
}
@media only screen and (max-width: 768px) {
    .fuenteGrande{
        font-size: 5rem;
    }
}
h4{
    background-image: url(https://i.pinimg.com/564x/7d/e4/a6/7de4a678cb53cdf6e1fddea5e4f660f6.jpg);
    text-align: center;
    font-family: 'Signika';
    font-size: 4rem;
    @extend .fuenteGrande;
}
@media only screen and (max-width: 768px){
.text-dark{
        text-align: center;
        
    }
}
.svg {
    width:30px;
    margin: 0;
    align-items: center;
}
.faq{
    @extend .svg;
    transform: translate(723px,-6px);
}
.carrito {
    @extend .svg;
    transform: translate(14px, 2px);
}
.correo {
    @extend .svg;
    transform: translate(1071px, -52px);
}