@import "tipografias","variables","condicionales","maps","variables","extend";
*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    background-color: antiquewhite;
}
body {
    margin: 20px;
    font-size: 150%;
    border-radius: 50px;
    background: linear-gradient(45deg, #8e5d7b, #a96e93);
    box-shadow:  20px -20px 60px #865874,
    -20px 20px 60px #b6769e;
    background-size: contain;
}
@media screen and (max-width:600px) {
    .footer{
        font-size:1.5rem;
    }
    
}
img{
    max-width: 100%;
    height: auto;
}
.logo {
    display: block;
    width: 150px;
    margin: 0 auto;
    border-right: solid 3px magenta;
    border-radius: 30px;  
}

#enlaceWa {
    color:rgb(80, 28, 73);
    font-size: 60px;
    position: fixed;
    bottom: 0;
    right: 40px;
}

.navbar {
    ul {
    margin: 0,5rem;
    padding: 1rem;
    list-style-type:none;
    }
    li { 
        display: inline-block; 
        font-size: 4rem;
    }
    a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    }
}
@media screen and (max-width:600px){
.navbar{
    float: none;
    width: 100%;
}
}

.redes{
    display:flex;
    flex-direction: row-reverse;
}

.svg {
    width:47px;
    margin: 0;
    align-items: center;

    .faq{
    transform: translate(723px,-6px);
}
.carrito {
    transform: translate(14px, 2px);
}
.correo {
    transform: translate(1071px, -52px);
}
    }

h2 { 
    @include subtitulos;
    font-family: 'Signika';
    font-size: 3.5rem;
    line-height: 1.2;
    text-align: center;
}
.h3{
    text-align: center;
    @include subtitulos;
}
button {
    position:absolute;
    border-radius: 10px;
    margin: 0;
    margin-left: 36%;
    background-color: #7757d1;
    border: none;
    color: white;
    padding: 15px 9px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 4rem;
    width: 100px; height: 100px;
    transition: all 0.5s;       
}
button:focus {
    width: 50px;
    font-size: 2rem;
}
/*SERVICIOS*/
.content {
    grid-area: content;
    position: relative;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 26px; box-shadow: 0px 35px 68px 0px rgba(189, 16, 224, 0.5), inset 0px -3px 16px 0px rgba(189, 16, 224, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}
.text-center {
    text-align: center;
    font-family: 'Lato';
    font-size: 2.5rem;
}
// CONTACTO 
.infoContacto{
    font-family: 'Signika';
    font-size: 3rem;
    text-align: center;
    line-height: 1.2;
    background-position: center;
    background-color: #cf95c7;
}
form{
    font-size: 2rem;
    font-family: 'Signika Negative';
    line-height: 1.5;
    color:black;
    text-align:center ;
}
.enviar {
    padding: 1rem;
    border-radius: 10px;
    align-items: flex-start;
    box-sizing: border-box;
}
.border {
    border: 13px solid black;

background: linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);

filter: ( startColorstr="#84FFC9", endColorstr="#AAB2FF", GradientType=1 );
}
#mapa{
    border: 200px;
    height: 15rem;
    object-fit: cover;
    object-position: 15% 100%;
    width: 25rem;
    transform: translate(505px, -20px);

}

iframe {
    width: 100%;
    height: 100%;
    border: none; 
}
p {
    text-align: center;
    font-family: 'lato';
    font-size: 3.6rem;
    line-height: 1.6;
    overflow: hidden;
    color: #000000;
}
.testimonios{
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 16px;
    background-color: violet;
    box-shadow: 10px 10px 5px rgb(221, 188, 223);

}
/*PRODUCTOS*/

.cards-flex {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat (4,1fr);
    row-gap: 100px;
    padding: 50px;
    margin: 50px;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
    .card1-flex {
    width: 100%;
    }
}
@media (max-width: 767px) {
    #cards-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
img.rounded-circle {
    height: 250px;
}
@media screen and (max-width:600px){
    img.rounded-circle{
        max-width: 100%;
        height: auto;
    }
    
}
.card1-flex {
    width: 30%;
    background: hsla(287, 23%, 65%, 1);

    background: linear-gradient(90deg, hsla(287, 23%, 65%, 1) 0%, hsla(23, 64%, 75%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(287, 23%, 65%, 1) 0%, hsla(23, 64%, 75%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(287, 23%, 65%, 1) 0%, hsla(23, 64%, 75%, 1) 100%);
    -webkit-border-radius: 39px;
    border-radius: 39px;
    background: #e596e1;
    -webkit-box-shadow: 18px 18px 44px #ae72ab, -18px -18px 44px #ffbaff;
    box-shadow: 18px 18px 44px #ae72ab, -18px -18px 44px #ffbaff;
}
.pointer {
    cursor: pointer;
}
.text-dark{
    text-align: center;
    font-family: monospace;
}

@media screen and (max-width: 1023px){
    #cards-flex {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    #cards-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.p-3 {
    display: inline-block;
    padding: 10rem !important;
    margin: auto;
}
/*INDEX*/
.ingreso{
    background: rgba( 125, 28, 191, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding:20px;
    width: 50%;
    }
    .btn {
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;  
        outline: none;
        border-radius: 5px;
        border: none;
        background-size: 120% auto;
        background-image: linear-gradient(315deg, #4ecdc4 0%, #c797eb 75%);
    }
    .css-button-gradient--1:hover {
        background-position: right center;
}
.css-button-gradient--1:active {
    top: 2px;
    }
    .navbar {
    border-radius: 50px;
    background: linear-gradient(45deg, #8e5d7b, #a96e93);
    box-shadow:  20px -20px 60px #865874,
            -20px 20px 60px #b6769e;
    }
    .box {
        background: hsla(302, 82%, 76%, 1);

background: linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);

filter: gradient( startColorstr="#F492F0", endColorstr="#A18DCE", GradientType=1 );
        color: #fff;
        border-radius: 5px;
        padding: 0px;
        font-size: 6.5rem;
        font-family: 'Fredoka';
}
#carouselExampleControls {
    width: 300px;
    margin: 0 auto;
}
/*CONTACTO*/
.contacto{
    display: grid;
    grid-gap: 10px;
    background-color:linear-gradient(45deg, #8e5d7b, #a96e93);
    box-shadow:  20px -20px 60px #865874,
                -20px 20px 60px #b6769e;
    border-radius: 50px;
    background-image:url(https://i.pinimg.com/564x/39/47/81/39478172bc8723246e9f1282f12e3c58.jpg);
    background-repeat: no-repeat;
    padding: 15px;
    margin: 20px;
}

.overlay {
    background: rgba( 125, 28, 191, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 10;
    grid-column: content-start / content-end;
    grid-row: header-start / content-end;
}
fieldset{
font-size: 1.5rem;
width: 100%;
padding: 1.2rem;
border: 0.2rem solid none;
border-radius: 0.4rem;
box-sizing: border-box;
margin-top: 0.6rem;
margin-bottom: 1.6rem;
resize: vertical;
}
textarea {
transform: revert;
height: 100%;
color:-internal-light-dark(black, white);
white-space: pre-line;
background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
margin: 0em;
border-width: 5px;
border-style: dashed;
border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
border-image: coral;
padding: 27px;
}
.card-text {
    font-family: 'Lato';
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: bolder;
}
.quien-soy img{
    width: 80%;
    padding: 0;
    margin:auto;

}
.quien-soy {
margin: auto;
width: 500px;
padding: 10px;
transform: translate(26px, -5px);
}

h5{
    font-family: 'Fredoka';
    font-size: 3rem;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
}
.mapa{
    width: 200px;
    height: 200px;
    border: 2px black;
}
/*FAQ*/
.card-deck{
    display: flex;
}
.newspaper {
        column-count: 3;
        column-gap: 40px;
        column-rule-style: solid;
}
.card-body{
    background: rgba( 179, 139, 220, 1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
